<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1>ngx-pending-changes</h1>
      <p>
        Use the component below to try navigation with and without changes to the form inputs.
      </p>
      <p>
        When you navigate inside your app (by using the routerlink at the bottom), a configurable
        message will be used. If the page is reloaded or the window is closed, a non-configurable
        message will be shown by your browser.
      </p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="p-4 border">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
